:root {
    --font-size: 15px;
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

html {
    font-size: var(--font-size);
    font-family: 'Poppins', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

main {
    height: 100%;
    background-color: var(--light-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
}

* {
    box-sizing: border-box;
}

.card {
    flex-basis: 100%;
    max-width: 330px;
    padding: 16px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 50px -20px rgba(0, 0, 0, 0.5);
}

.qr-container {
    border-radius: 12px;
    aspect-ratio: 1;
    background-image: url('../images/image-qr-code.png');
    background-size: cover;
}

.card-title {
    margin: 12px 0;
    padding: 0 16px;
    font-size: 20px;
    font-weight: 700;
    color: var(--dark-blue);
}

.card-subtitle {
    margin: 12px 0 20px 0;
    padding: 0 16px;
    font-weight: 400;
    color: var(--grayish-blue);
}